
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

  *{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins',sans-serif;
  }


  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 19px 12px;
  }


  ul {
    display: flex;
  }

  ul li{
    list-style: none;
    padding: 0 13px;
  }

  ul li a{
    color:white;
    text-decoration: none;
  }

  ul li a:hover{
    color: gray;
  }

  main{
    min-height: 80vh;
  }

  header{

    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;

  }

  .container{
    background-color: azure;
    max-width: 80vw;
    margin:auto;
    padding: 15px;
  }

  .container h1{
    padding: 12px 0;
  }

  input[type='text']
  {
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    font-size: 20px;
  }

  .btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
  }

  #resultCont div::first-letter{
    text-transform: uppercase;
  }

  footer{
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {

    .container{
        font-size:12px
    }
    
    input[type='text']
    {
        width: 100%;
    }

    nav{
        flex-direction: column;
    }


  }